<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <!-- Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <!-- Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--Sweet Alert-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <!--jQuery-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/dist/semantic.min.js"></script>
  <!--Axios-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
</head>

<body>
  <header class="jobs_header text-white p-4 mb-5">
    <h1 class="text-center">Bienvenido a Git<strong>Jobs</strong></h1>
  </header>

  <section class="container" id="section__container">
    <div class="row">
      <div class="col-12 mb-5 pb-5">
        <form>
          <div class="card">
            <div class="card-header">
              <h3>Ingresa tus criterios de búsqueda</h3>
            </div>

            <div class="card-body">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Descripción</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="description"
                      placeholder="Tipo de cargo, experiencia, compañía...">
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-4">Ubicación</label>
                  <div class="col-sm-1">
                    <input class="form-check-input" type="checkbox" name="description" id="checkLocation"
                      placeholder="ciudad o estado">
                  </div>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" readonly id="location">
                  </div>
              </div>

              <fieldset class="form-group">
                <hr>
                <div class="row">
                  <legend class="col-form-label col-sm-3 pt-0"><strong>Selecciona tipo de jornada:</strong></legend>
                  <div class="col-sm-9">
                    <div class="form-check">
                      <input class="form-check-input timeJob" type="radio" value="1" name="description" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        Tiempo completo
                      </label>
                    </div>

                    <div class="form-check pt-3">
                      <input class="form-check-input timeJob" type="radio" value="2" name="description">
                      <label class="form-check-label" for="exampleRadios2">
                        Medio tiempo
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="card-footer d-flex justify-content-around">
              <button class="text-white btn btn-dark font-weight-bold p-3" id="volver"><i
                  class="fas fa-angle-double-left"></i> Volver</button>
              <button id="btnConsultar" type="button" class="btn btn-info font-weight-bold p-3"><i
                  class="fas fa-search"></i> Consultar</button>
            </div>
          </div>
        </form>
      </div>

      <main class="col-12">
        <div class="row">
          <div class="container">
            <table class="table">
              <tbody id="result">
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </section>

  <footer class="bg-dark">
    <div class="container d-flex justify-content-between">
      <div>
        <ul class="footer__list">
          <li>
            <a class="text-white" href="">Blog</a>
          </li>
          <li class="pt-2">
            <a class="text-white" href="">Contacto</a>
          </li>
          <li class="pt-2">
            <a class="text-white" href="">Política de uso</a>
          </li>
        </ul>
      </div>

      <div>
        <i class="fab fa-github text-white"></i>
      </div>

      <div>
        <p class="text-white pt-4">© 2020 Git<strong>Jobs</strong> Inc. All rights reserved</p>>
      </div>
    </div>
  </footer>

  <script type="module" src="/actions/jobs.js"></script>
</body>

</html>