body {
  margin:0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

a {
  color: #00B7FF;
}

.jobs_header {
  background-color: #2B7FC3;
}

.fixed-bottom {
  box-shadow: 2px 2px 3px rgb(138, 136, 136);
  left: 90%!important;
  bottom: 12%!important;
}

.fa-github {
  font-size: 3em;
}

.footer__list {
  list-style: none;
}

footer {
  padding: 4.5em 0;
}

#list-users {
  text-align: center;
  margin-top: 4vh;
  font-size: 18px;
}
